/* *{
    margin: 0;
    padding: 0;
}*/
body {
    background-color: black;
    padding: 200px;
}

.parent {
    background-color: #fff;
    width: 100%;
    height: 500px ;
    display: flex;
    gap: 5px;
    flex-wrap: wrap; 
   /* align-items: baseline;*/
    justify-content: center;
    flex-direction: column;
    



}

.child1 {
    /*display: inline-block;*/
    background-color: rgb(133, 255, 127);
    width: 100px;
    height: 100px;
   
    
}

.child2 {
    /*display: inline-block;*/
    background-color: rgb(255, 127, 212);
    width: 100px;
    height: 100px;
   
    
}
/*


body {
    background-color: aqua;
}

@media (min-width: 768px){
    body{
        background-color: #B9E9FC;

    }
}

@media (min-width: 1024px){
    body{
        background-color: #FFDEB4;

    }
}

@media (min-width: 1280px){
    body{
        background-color: #FFB4B4;

    }
}*/